


{% extends "layout.html" %}

{% block pageTitle %}
  Funding Service Design team
{% endblock %}

{% block content %}

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="index.html">Funding Service Design team</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Blog</li>
      </ol>
    </div>
    <main class=".govuk-main-wrapper--l" id="main-content" role="main">
      </main>
        <div class="govuk-!-padding-bottom-6"> </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            Blog posts
          </h1>
          <h2 class="govuk-heading-l">
            <a href="blog-example.html" class="govuk-link">
          Put a blog title here
             </a>
            </h2>
            <p class="govuk-body">
            and a date
              </p>
            <p class="govuk-body"> And a summary....
              </p>
              <p class= "govuk-body govuk-!-font-weight-bold">
        <a href ="blog-example.html" class="govuk-link"> Read more </a>
        </p>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-l">
        <a href="blog-example.html" class="govuk-link">
      Put another blog title here
         </a>
        </h2>
        <p class="govuk-body">
        and date
          </p>
        <p class="govuk-body"> and another summary...
          </p>
          <p class= "govuk-body govuk-!-font-weight-bold">
    <a href ="blog-example.html" class="govuk-link"> Read more </a>
    </p>

    </div>


    {% endblock %}
