
{% extends "layout.html" %}

{% block pageTitle %}
  User Centred Design team
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index.html">Funding Service Design team</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="blog.html">Blog</a>
    </li>

    <li class="govuk-breadcrumbs__list-item" aria-current="page">The title of this blog</li>
  </ol>
</div>
<main class=".govuk-main-wrapper--l" id="main-content" role="main">
  </main>
    <div class="govuk-!-padding-bottom-6"> </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Blog title here
      </h1>
      <p class="govuk-body">
      date
        </p>
      <h2 class="govuk-heading-l"> Sub-title here </h2>
  <p class="govuk-body">
Blog content here
</p>



{% endblock %}
