
{% extends "layout.html" %}

{% block pageTitle %}
  Funding Service Design team
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index.html">Funding Service Design team</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Design Principles</li>
  </ol>
</div>
<main class=".govuk-main-wrapper--l" id="main-content" role="main">
  </main>
  <div class="govuk-!-padding-bottom-6"> </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Design Principles
      </h1>
      <p class="govuk-body-l"> We have created these design principles to help guide our design thinking and decision making   </p>
<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
<ol class="govuk-list govuk-list--number">
  <li>The design will consider funding as an end to end service</li>
  <div class="govuk-!-padding-bottom-5"> </div>
  <li>Recognise applicants and recipients as primary
     users and enable them to utilise available funds frictionlessly</li>
      <div class="govuk-!-padding-bottom-5"> </div>
  <li>Provide the department and wider government with confidence that money
    is being spent responsibly</li>
  <div class="govuk-!-padding-bottom-5"> </div>
    <li>Design a sustainable service that enables teams across departments to support current and future funding</li>
  <div class="govuk-!-padding-bottom-5"> </div>
  <li>Enable a consistent user experience across funds, through shared tooling and design standards</li>
  <div class="govuk-!-padding-bottom-5"> </div>
  <li>Design to enable the needs of all funds and recognise that one size doesn't fit all</li>
  <div class="govuk-!-padding-bottom-5"> </div>
  <li> The service must be scalable to respond to changing requirements</li>
</ol>





{% endblock %}
