
{% extends "layout.html" %}

{% block pageTitle %}
  Funding Service Design team
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index.html">Funding Service Design team</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Design Principles</li>
  </ol>
</div>
<main class=".govuk-main-wrapper--l" id="main-content" role="main">
  </main>
  <div class="govuk-!-padding-bottom-6"> </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Design Principles
      </h1>
      <p class="govuk-body-l"> We have created these design principles to help guide our design thinking and decision making   </p>
<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
    <h3 class="govuk-heading-m">1. The design will consider funding as an end to end service </h3>
<div class="govuk-!-padding-bottom-6"> </div>
    <h3 class="govuk-heading-m">2. Recognise applicants and recipients as primary
       users and enable them to utilise available funds frictionlessly    </h3>
       <div class="govuk-!-padding-bottom-6"> </div>
<h3 class="govuk-heading-m">3. Provide the department and wider government with confidence that money
  is being spent responsibly  </h3>
<div class="govuk-!-padding-bottom-6"> </div>
  <h3 class="govuk-heading-m">4. Design a sustainable service that enables teams across departments to support current and future funding  </h3>
<div class="govuk-!-padding-bottom-6"> </div>
<h3 class="govuk-heading-m">5. Enable a consistent user experience across funds, through shared tooling and design standards </h3>
<div class="govuk-!-padding-bottom-6"> </div>
<h3 class="govuk-heading-m">6. Design to enable the needs of all funds and recognise that one size doesn't fit all </h3>
<div class="govuk-!-padding-bottom-6"> </div>
<h3 class="govuk-heading-m">7. The service must be scalable to respond to changing requirements  </h3>

{% endblock %}
