{% extends "layout.html" %}

{% block pageTitle %}
Funding Service Design team
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Funding Service Design team

    </h1>

    <p class="govuk-body">
      The Funding Service Design team is a new user centred design team based in digital delivery. The team is comprised
      of five full time civil servants;
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Product Manager
      </li>
      <li>
        User Researcher
      </li>
      <li>
        Interaction Designer
      </li>
      <li>
        Service Designer
      </li>
      <li>
        Delivery Manager
      </li>
    </ul>
    <h2 class="govuk-heading-l"> Our vision </h2>
    <p class="govuk-body">
      To enable teams to provide funding services that work for all users by delivering a consistent set of tools and
      standards;
      which, will provide an increased user experience for external delivery bodies applying for funding as well as for
      internal users delivering and providing assurance within MHCLG.
    </p>
    <br>
    <p class="govuk-body"> Find out about the
      <a href="projects.html" class="govuk-link govuk-!-font-weight-bold">
        projects we're working on.
      </a>
    </p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
    <h2 class="govuk-heading-m">What is user centred design (UCD)?</h2>
    <p class="govuk-body"> UCD is an iterative design process which focuses on users and their needs in each phase of
      the design process.

      In UCD, teams involve users throughout the design process via a variety of research and design methods to create
      usable, accessible products and services that meet user needs.</p>


    {% endblock %}