
{% extends "layout.html" %}

{% block pageTitle %}
  Funding Service Design team
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index.html">Funding Service Design team</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Projects</li>
  </ol>
</div>
<main class=".govuk-main-wrapper--l" id="main-content" role="main">
  </main>
  <div class="govuk-!-padding-bottom-6"> </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Projects
      </h1>
      <p>
        Find out about the different projects we've worked on across the department.
        </p>
        <a href="discover-it.html" class="govuk-link govuk-body-l"> Put a project here </a>
        <p> and a summary </p>
        <a href="discover-it.html" class="govuk-link govuk-body-l"> Put another project here </a>
        <p> and a summary   </p>

  </div>

{% endblock %}
