
{% extends "layout.html" %}

{% block pageTitle %}
  Funding Service Design team
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index.html">Funding Service Design team</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">About</li>
  </ol>
</div>
<main class=".govuk-main-wrapper--l" id="main-content" role="main">
  </main>
    <div class="govuk-!-padding-bottom-6"> </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        About us
      </h1>
  <p class="govuk-body">We're providing teams across MHCLG with practical support to improve the way funding is delivered.
    <p>
    We use design, data and digital tools to uncover user needs, understand complex problems and provide solutions.
    We take an agile approach which means that we work in short ‘sprints’ which are iterative and flexible.
   </p>


<h2 class ="govuk-heading-l"> Our goals  </h2>
<ul class="govuk-list govuk-list--bullet">
  <li> To become the MHCLG "go to" team for Funding Service Design </li>
    <li> Improve the way the department delivers funding through User Centred Design </li>
    <li> Provide you with insights and recommendations to help meet user needs </li>
    <li> Ensure the department is prepared to deliver a successor fund after leaving the EU </li>
    <li> Provide the department with a consistent set of good tools to deliver funding </li>
    </ul>


</div>

{% endblock %}
